/* Empty. Add your own CSS if you like */
body {
    padding: 0;
    margin: 0;
}
html, body, .mapHeight{
    height: 100%;
}

leaflet-map {
	display: block;
	width: 100%;
	height: 85%;
}

timer {
	width:100%;
}

.scroll {
	height: 100%;
}

.buttons {
	height: 50%;
}

#moving {
	width: 50%;
	height: 30%;
}

#sitting {
	width: 50%;
	height: 30%;
}
#start {
	width: 100%;
	height: 15%;
}
#end {
	width: 100%;
	height: 30%;
}


